html, body {
  margin: 20px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

dl {
  display: flex;
}

@keyframes fade_in_out {
  from {
    opacity: 1;
  }

  50% {
    opacity: .2;
  }

  to {
    opacity: 1;
  }
}

.loading {
  animation: fade_in_out 1s linear infinite;
}
